.input_wrapper {
  display: flex;
  flex-direction: column;
}
.input_wrapper label {
  text-transform: capitalize;
}
input {
  all: unset;
  border-radius: 8px;
  border: 2px solid gray;
  padding: 0.9rem 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* From uiverse.io */
button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: #23c483;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
label {
  font-size: 12px;
  color: gray;
  margin-bottom: 8px;
}
button:hover {
  background-color: #fff;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #23c483;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}

span.error {
  color: red;
  margin-top: 0.8rem;
  display: none;
  max-width: 200px;
}

input:invalid[focused="true"] ~ span {
  display: block;
}
input:invalid[focused="true"] {
  border: 1px solid red;
}
